@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/modal";
@import "../node_modules/animate.css/animate.css";

@import "scss/common";
@import "scss/layout";

@import "scss/confidence";
@import "scss/contact";
@import "scss/facts";
@import "scss/faq";
@import "scss/gallery";
@import "scss/materials";
@import "scss/packets";
@import "scss/photos";
@import "scss/reviews";
@import "scss/steps";
@import "scss/top";
@import "scss/why";
@import "scss/modal";

html {
  @media(max-width: 767px) {
    font-size: 12px;
  }
  @media(min-width: 768px) and (max-width: 1199px) {
    font-size: 13px;
  }
  @media(min-width: 1199px) and (max-width: 1439px) {
    font-size: 14px;
  }
  @media(min-width: 1440px) and (max-width: 1660px) {
    font-size: 16px;
  }
  user-select: none;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.container {
  @media(min-width:768px) and (max-width: 991px) {
    max-width: 720px !important;
  }
  @media(min-width:992px) and (max-width: 1199px) {
    max-width: 960px !important;
  }
  @media(min-width:1200px) and (max-width: 1439px) {
    max-width: 1140px !important;
  }
  @media(min-width: 1440px) {
    max-width: 1320px !important;
  }

  @media(max-width: 575px) {
    max-width: 575px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      padding-right:0 !important;
    }
  }
  @media(min-width:576px) and (max-width:767px) {
    //max-width: 767px !important;
    //padding-left: 0 !important;
    //padding-right: 0 !important;
    //margin-left: 0 !important;
    //margin-right: 0 !important;
    max-width: 576px !important;

    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      padding-right:0 !important;
    }
  }
}



