
.v-hidden {
  visibility: hidden !important;
}


input {
  background-color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.16);
  font-size: 1.25rem;
  border: none;
  width: 100%;
  outline: none;
  height: 4rem;
  padding: 0 2rem;
  font-weight: 200;
  margin: 0.5rem 0;
  border-radius: 4px;
  transition: .5s;

  &:hover {
    //background-color: #ededed;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25);
    transition: .5s;
  }

  &:focus {
    //background-color: #ededed;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25);
    transition: .5s;
  }

  @media(max-width: 768px) {
    font-size: 1rem;
  }
}

.p1 {
  padding: 1rem;
}

button {
  //padding: 0 2rem;
  min-height: 4rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.25);
  //background-image: linear-gradient(to bottom, #2fa2de, #138bc9);
  background: #2fa2de linear-gradient(to bottom, #2fa2de 0%, #2fa2de 75%, #0185c6 100%);
  width: 100%;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: .5s;

  &:hover {
    background: #53a0de linear-gradient(to bottom, #53a0de 0%, #53a0de 75%, #3670c6 100%);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27);
    transition: .5s;
  }

  &:focus {
    background: #5096de linear-gradient(to bottom, #5096de 0%, #5096de 75%, #3670c6 100%);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27);
    transition: .5s;
  }
}

.accordion {
  cursor: pointer;
  transition: 0.5s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
