
@import "variables";

#confidence {
  padding: 7rem 0 5rem 0;

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    text-align: center;
  }

  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media(max-width: 991px) {
      padding: 0;
    }
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }

  ul li {
    font-size: 1.25rem;
    color: #ff7a33;
    list-style-type: disc;
    span {
      color: #1d1d1d;
    }
  }

  .marked {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 104%;
      height: 55%;
      z-index: -1;
      background: #ffb790;
      top: 45%;
      left: -2%;
    }
  }

  .very-marked {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 104%;
      height: 55%;
      z-index: -1;
      background: #ff7a33;
      top: 45%;
      left: -2%;
    }
  }

  .block {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 30rem;


    &.left {
      img {
        margin-left: 2rem;
        width: 5rem;

        @media(max-width: 556px) {
          position: relative;
          margin: 0 auto;
        }
      }
    }
    &.right {
      align-items: center;
      img {
        width: 20rem;
      }
    }
  }

  .its-ok {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5;
  }

  #confidence1 {
    animation-delay: 0.5s;
  }
  #confidence2 {
    animation-delay: 1s;
  }
  #confidence3 {
    animation-delay: 1.5s;
  }
  #confidence4 {
    animation-delay: 2.5s;
  }
  #confidence5 {
    animation-delay: 3s;
  }

}
