/**

<section class="contact v-hidden" id="contact11">
  <div class="row">
   <div class="col-12 col-md-9">

    <div class="v-hidden" id="contact12">
     <div class="title">
      Как навсегда сохранить тепло в своей любимой квартире?
     </div>
     <div class="subtitle">
      Получить бесплатную консультацию специалиста
     </div>
    </div>

    <div class="form v-hidden" id="contact13">
     <div class="row">
      <div class="col-12 col-sm-6">
       <input type="text" placeholder="Введите ваше имя">
      </div>
      <div class="col-12 col-sm-6">
       <input type="text" placeholder="Введите номер телефона">
      </div>
      <div class="col-12" >
       <button>ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
      </div>
     </div>
    </div>
   </div>
   <div class="d-none d-md-block col-md-3 cold-warm">
    <div class="imgs">
     <img src="assets/common/warm.svg" class="warm"  alt="">
     <img src="assets/common/cold.svg" class="cold" id="contact1-cold" alt="">
    </div>
   </div>
  </div>
 </section>

 */


@import "variables";


.contact {
  background-color: #fff4de;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
  margin: 5rem;
  padding: 6rem 5rem;
  position: relative;
  transform-style: preserve-3d;

  @media(max-width: 768px) {
    padding: 3rem 2rem;
    margin: 2rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    @media(max-width: 768px) {
      font-size: 1.5rem;
    }

    &.center {
      text-align: center;
    }
  }
  .subtitle {
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 1rem;

    &.left {
      text-align: left;
    }
  }

  &:before {
    content: '';
    background-color: #ffd990;
    width: 2rem;
    height: 3rem;
    position: absolute;
    left: 5%;
    top: -4%;
    z-index: -1;
    transform: translateZ(-1rem);
  }

  &:after {
    content: '';
    background-color: #ffd990;
    width: 2rem;
    height: 3rem;
    position: absolute;
    right: 15%;
    bottom: -4%;
    z-index: -1;
    transform: translateZ(-1rem);
  }

  .cold-warm {
    //display: flex;
    //align-items: center;

    .imgs {
      position: absolute;
      width: 180%;
      left: -25%;
      z-index: -1;
    }

    .cold {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      transition: 0.5s;
      opacity: 1;

      &.not-cold {
        opacity: 0;
      }
    }

    .warm {
      position: relative;
      width: 100%;
    }
  }

  #contact11, #contact12,#contact13 {
    animation-delay: 0.5s;
  }
  #contact21, #contact22,#contact23 {
    animation-delay: 1.5s;
  }
  #contact31, #contact32,#contact33 {
    animation-delay: 2s;
  }

}
