@import "variables";


.contact {
  background: #ff7a33;
  background: linear-gradient(227deg, #ff7a33, #c7591f);
  //box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
  //margin: 5rem;
  padding: 6rem 5rem;
  position: relative;
  transform-style: preserve-3d;

  @media(max-width: 768px) {
    padding: 3rem 2rem;
    margin: 2rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    color: $white;
    @media(max-width: 768px) {
      font-size: 1.5rem;
    }

    &.center {
      text-align: center;
    }
  }
  .subtitle {
    color: $white;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 1rem;
  }

  &:before {
    content: '';
    background-color: #ffd990;
    width: 2rem;
    height: 3rem;
    position: absolute;
    left: 5%;
    top: -4%;
    z-index: -1;
    transform: translateZ(-1rem);
  }

  //&:after {
  //  content: '';
  //  background-color: #ffd990;
  //  width: 2rem;
  //  height: 3rem;
  //  position: absolute;
  //  right: 15%;
  //  bottom: -4%;
  //  z-index: -1;
  //  transform: translateZ(-1rem);
  //}

  .cold-warm {
    //display: flex;
    //align-items: center;

    .imgs {
      position: absolute;
      width: 100%;
      //left: -25%;
      z-index: -1;
      min-width: 30rem;
      top: -20%;
    }

    .cold {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      transition: 0.5s;
      opacity: 1;

      &.not-cold {
        opacity: 0;
      }
    }

    .warm {
      position: relative;
      width: 100%;
    }
  }

  #contact11, #contact12,#contact13 {
    animation-delay: 0.5s;
  }
  #contact21, #contact22,#contact23 {
    animation-delay: 1.5s;
  }
  #contact31, #contact32,#contact33 {
    animation-delay: 2s;
  }

  svg #el_R1KMCWNeE * {
    -webkit-animation-iteration-count: 100;
    animation-iteration-count: 100;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}
