
@import "variables";

#facts {
  background: #ffffff;
  padding: 3rem 2rem;
  margin-top: -1.5rem;
  position: relative;

  .title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    transition: all 0.5s;
    @media(max-width: 500px) {
      br {
        display: none;
      }
    }
  }

  .fact-cards{
    position: relative;
    z-index: 1;
  }

  .card {
    margin-top: 1rem;
    padding: 8rem 3rem 3rem 3rem;
    border-left: solid 1px #f2f2f2;
    transition: all 0.25s;
    transform-style: preserve-3d;

    &:first-child {
      border-left: none;
    }
    @media(max-width: 768px) {
      &:nth-child(odd) {
        border-left: none;
      }
    }

    &:nth-child(even):before {
      left: -3rem;
      @media(max-width: 768px) {
        left: -1.5rem;
      }
    }
    &:nth-child(odd):before{
      right: -3rem;
      @media(max-width: 768px) {
        right: -1.5rem;
      }
    }

    &:before {
      content: '';
      position: absolute;
      //bottom: 0;
      //height: 100%;
      //width: 100%;
      top: auto;
      right: auto;
      height: 50%;
      width: 50%;
      bottom: -3rem;
      @media(max-width: 768px) {
        bottom: -1.5rem;
      }

      background-image: url("assets/common/dots_rect_rot.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      z-index: -1;
      transition: all 0.25s;
      transform: scale(0)  translateZ(-1rem);
      opacity: 0;
    }

    &.active {
      color: #ffffff;
      background-color: #ff7a33;
      box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.16);
      border-left: none;

      &:before {
        opacity: 1;
        transform: scale(1)  translateZ(-1rem);

        @media(max-width: 768px) {
          bottom: -1.5rem;
        }
      }
    }

    //&:hover {
    //  color: #ffffff;
    //  background-color: #ff7a33;
    //  box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.16);
    //  border-left: none;
    //
    //  &:before {
    //    //top: auto;
    //    //right: auto;
    //    //height: 50%;
    //    //width: 50%;
    //    //bottom: -3rem;
    //    opacity: 1;
    //    transform: scale(1)  translateZ(-1rem);
    //
    //    @media(max-width: 768px) {
    //      bottom: -1.5rem;
    //    }
    //  }
    //}

    .icon {
      img {
        width: 3rem;
        height: 3rem;
      }
    }

    h3 {
      font-size: 1.75rem;
      font-weight: 800;
      margin: 1rem 0;
      min-height: 4.125rem;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.7rem;
    }


    @media(max-width: 992px) {
      padding: 1.5rem 1rem;

      h3 {
        font-size: 1.5rem;
      }
    }


  }

  #fact2 {
    animation-delay: 420ms;
  }
  #fact3 {
    animation-delay: 820ms;
  }
  #fact4 {
    animation-delay: 1220ms;
  }
  #fact5 {
    animation-delay: 1620ms;
  }

}
