
@import "variables";

#faq {
  padding: 3rem 0;

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    text-align: center;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    margin: 2rem;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;


    .accordion {
      cursor: pointer;
      transition: 0.4s;

      padding: 1rem 0;
      padding-right: 5rem;
      font-size: 1.5rem;
      position: relative;

      &:after {
        content: "";
        background: url(assets/common/arrow-down.svg);
        font-size: 3rem;
        color: #ff7a33;
        position: absolute;
        right: 2rem;
        transition: all 0.5s;
        width: 2rem;
        height: 2rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.active {
        &:after {
          transform: rotateX(180deg);
          filter: grayscale(100%);
        }
      }

    }

    .accordion-inner {
      flex: 0;
      margin: 0 0 1rem 0;
      border-bottom: solid 1px #f2f2f2;

      p {
        margin: 1rem 0;
      }
    }


  }


}
