
@import "variables";

.gallery {

  .body {
    display: flex;

    .to-left, .to-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      z-index: 10;

      @media(max-width: 768px) {
        width: 2rem;
      }

        img {
        width: 35%;
      }
    }

    .image {
      position: relative;
      width: calc(100vw - 10rem);
      @media(max-width: 768px) {
        width: calc(100vw - 4rem);
      }

      .current-container {
        width: 100%;
        overflow: hidden;
        z-index: 1;

        .current {
          width: 100%;
          transition: all 1s;
          opacity: 1;

          &.transit {
            opacity: 0;
          }
        }
        .next {
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
          left: 0;
        }
      }

      .next-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;

        .next {
          width: 100%;
        }
      }

    }
  }

  .ctrl {
    margin-top: -7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 5rem;
    position: relative;
    @media(max-width: 768px) {
      padding-right: 2rem;
    }
    @media(max-width: 768px) {
      //height: 6rem;
      margin-top: -2rem;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -2.5rem;
      left: 25%;
      height: 8rem;
      width: 10rem;
      background-image: url(assets/common/dots_rect.svg);
      background-size: cover;
      background-position: left bottom;
      z-index: -2;
    }

    .previews-container {
      width: 90%;
      overflow-x: hidden;
    }

    .previews {
      display: flex;
      align-items: flex-end;
      height: 12rem;
      transition: all 0.5s;
      @media(max-width: 768px) {
        height: 6rem;
        //margin-top: -2rem;
      }

      .preview {
        height: 8rem;
        margin: 0 0.25rem;
        transition: all 0.5s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);

        @media(max-width: 768px) {
          height: 4rem;
        }

        &.selected {
          height: 12rem;
          @media(max-width: 768px) {
            height: 6rem;
          }
        }
      }
    }

    .numbers {
      font-size: 1.5rem;
      font-weight: 800;

      .current-i {
        color: #ff7a33;
      }
      .count {
        color: #b7b7b7;
      }
    }

  }


}
