
@import "variables";

body {
  // todo...
  //background: #ffffff;


  color: #1d1d1d;
  font-family: $sans;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 0;
  //height: auto;

}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


.intro {
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  .logo {
    width: 10rem;
    height: 10rem;
    transition: all 0.5s ease-in-out;
  }
}

.bg-image {
  background-image: url(assets/common/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -20;
  overflow-x: hidden;

  //img {
  //  position: absolute;
  //  right: 0;
  //  bottom: 0;
  //  height: 100%;
  //  max-width: 50%;
  //  transition: all 0.5s;
  //}

  img {
    position: absolute;
    right: -25%;
    bottom: 0;
    height: 100%;
    width: 50%;
    transition: all 0.5s;

    @media(max-width: 767px) {
      display: none;
    }
  }
}

.bg-white {
  position: absolute;
  z-index: -10;
  background: #ffffff;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-gray {
  background-color: #f2f2f2;
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff7a33;
  z-index: 998;
  opacity: 0.75;
  width: 3rem;
  transition: all 0.420s;

  &.hidden {
    opacity: 0;
  }

  @media(max-width: 991px) {
    display: none;
  }

  .content-item {
    width: 1rem;
    transition: all 0.420s;


    &:before {
      transition: all 0.420s;
      content: '●';
      font-size: 0.5rem;
      opacity: 1;
      position: absolute;
    }

    &.selected {
      width: auto;
      margin: 4rem -1rem;

      &:before {
        opacity: 0;
      }
      div {
        opacity: 1;
        //margin-left: 1rem;
      }
    }

    div {
      overflow: hidden;
      opacity: 0;
      transition: all 0.420s;
      transform: rotate(90deg);
    }
  }

}

header {
  //padding: 1rem 0;

  @media(max-width: 575px) {
    padding: 0;
  }


    .header-left {
      display: flex;
      align-items: center;

      @media(max-width: 512px) {
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    .header-left-inner {
      display: flex;
      align-items: center;
    }

  }

  .logo {
    //width: 2rem;
    height: 2.75rem;
    margin: 0 1rem;
  }
  .name {
  //  todo font
    margin-left: 0.5rem;

    .title {
      font-size: 1.4rem;
      font-weight: 800;
    }
    .description {
      font-size: 1.35rem;
    }
  }

  .header {
    background: #fff;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.16);
    padding: 2rem 1.5rem;
  }

  .phones {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .operator {
      padding: 0.25rem 0;
    }

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: flex-end;
    }

    a {
      font-weight: bold;
      text-decoration: none;
      color: black;
      border-bottom: solid 1px #add9f0;
    }
  }
}

footer {
  margin-top: 8rem;
  min-height: 20rem;

  @media(max-width: 991px) {
    padding-bottom: 7.5rem;
  }
  @media(max-width: 576px) {
    padding-bottom: 0;
  }

  .block {
    padding: 0.5rem;

    @media(max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 800;
      margin: 2.5rem 0 1rem 0;
    }

    .operator {
      margin: 0.25rem auto;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .text {
      margin: 0.5rem;
    }

    .map {
      text-decoration: none;
      background: none;
      border: 1px solid #ff7a33;
      padding: 0.2rem;
      min-width: 12rem;
      box-shadow: none;
      //margin: 5%;
      font-size: 1rem;
      color: #1d1d1d;
      display: block;
      text-align: center;
      transition: .5s;
      background-color: white;

      &:hover {
        background-color: #ff7a33;
        color: white;
        transition: .5s;
      }

    }

    .socs {
      a {
        padding-left: 2rem;
        text-decoration: none;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .image {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    @media(max-width: 1200px) {
      width: 35%;
    }
    @media(max-width: 576px) {
      width: 100%;
      position: relative;
    }

    img {
      width: 70%;
      @media(max-width: 1200px) {
        width: 100%;
      }

    }
  }

  .copyright {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color: #b7b7b7;
  }

}

.operator {
  display: flex;
  margin-top: 0.2rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }
}


.animate-enter {
  opacity: 0;
  transform: translateY(25%);
  transition: all 0.5s ease-out;

  &.shown {
    opacity: 1;
    transform: translateY(0);
  }
}
