
@import "variables";

#materials {
  background: #f2f2f2;
  padding: 5rem 0;

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin: 2rem 0;
    text-align: center;
  }

  .brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: 768px) {
      justify-content: space-around;
    }

      img {
        height: 4.5rem;
        margin: 2rem 0rem;
    }
  }
}
