
.modal {
  background-color: rgba(29,29,29,0.8);

  .thanks {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    color: #f5a50b;
    margin: 0;
  }

  .modal-dialog {
    @media (min-width: 768px) {
      width: 51rem;
      max-width: none;
    }
  }

  .soc-btns {
    display: flex;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .soc-btn {

      width: 40%;
      margin: 0 5%;

      @media (max-width: 500px) {
        width: 80%;
        margin: 0 10%;
      }

      border-radius: 4px;
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.25);
      border: solid 1px #ff7a33;

      .soc-title {
        flex-grow: 1;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: #f5a50b;

      }

      text-decoration: none;
    }
  }



  .close {
    background: none;
    font-size: 3rem;
    min-height: auto;
    width: auto;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    box-shadow: none;
  }

  input {
    font-size: 1rem;
  }

}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
}
