
@import "variables";

#packets {
  padding: 0 0 3rem 0;
  position: relative;

  &:before {
    content: '';
    background-color: #ffd990;
    width: 1rem;
    height: 1.5rem;
    position: absolute;
    left: -4rem;
    top: 6.5rem;
    z-index: -1;
  }

  .title {
    font-size: 1.85rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    height: 7rem;
    text-align: left;
    @media(max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .table-container {
    overflow-x: auto;
    overflow-y: hidden;

    .table-body {
      min-width: 35rem;
      padding-bottom: 3rem;
    }
  }

  .column {
    padding: 3rem 0 0 0;
    transform-style: preserve-3d;

    &.first {
      padding-left: 1rem;
    }

    &.selected {
      box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0);
      transition: all 0.5s;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("assets/common/dots_rect_rot.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        transform: translateZ(-1rem);
        transition: all 0.25s;
        bottom: 0;
        left: 0;
        opacity: 0;
      }

      &.selected-shown {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.16);
        background: #ffffff;

        &:before {
          width: 50%;
          height: 50%;
          //transform: scale(1);
          bottom: -5rem;
          left: -2.5rem;
          opacity: 1;
        }
      }

    }

    .col-name {
      height: 3rem;
      font-size: 1.25rem;
      font-weight: 800;
      text-align: center;
    }

    .col-header {
      text-align: center;
      height: 7rem;

      img {
        height: 100%;
      }
    }

    .line {
      font-size: 0.875rem;
      height: 3rem;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .check, .cross {
        width: 3rem;
        border-bottom: solid 1px #f2f2f2;

        img {
          width: 1.75rem;
        }
      }

      &.line-name {
        justify-content: flex-start;
        text-align: left;
      }
    }

    .price {
      margin-top: 1rem;
      height: 4.5rem;
      font-size: 1.5rem;
      font-weight: 800;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.666rem;

      &.special-price {
        background: #ffb72e;
        justify-content: space-around;

        .old-price {
          align-self: flex-start;
          color: #ff7a33;
          font-size: 1.25rem;
          text-decoration: line-through;
        }
        .new-price {
          align-self: flex-end;
        }
      }
    }

  }

  #packets1 {
    animation-delay: 0.5s;
  }
  #packets2 {
    animation-delay: 1s;
  }
  #packets3 {
    animation-delay: 1.5s;
  }
  #packets4 {
    animation-delay: 2s;
  }
  #packets5 {
    animation-delay: 2.5s;
  }

}
