
@import "variables";

#photos {
  padding: 3rem 0;

  .title {
    padding: 1rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    text-align: center;
    @media(max-width: 768px) {
      font-size: 2rem;
    }
  }
  .subtitle {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.58;
    text-align: center;
  }

}
