
@import "variables";

#reviews {
  padding: 5rem 0;

  .facebook {
    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;

    @media(max-width: 768px) {
      font-size: 2rem;
    }
  }

  .subtitle {
    margin-bottom: 2rem;
  }

  .comments {
    padding: 1rem;

    .comment {
      width: 100%;
      //height: 5rem;
      margin: 1rem 0;
      background-color: #ffffff;
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);

      .text {
        display: flex;
        height: 9rem;

        .author {
          //width: 45%;
          display: flex;
          justify-content: start;
          align-items: start;
          overflow: hidden;
          height: 100%;

          img {
            height: 100%;
          }
        }
        .citation {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          flex-basis: inherit;
          flex-grow: 2;
          justify-content: space-around;

          b {
            font-size: 1.25rem;
            font-weight: 800;
          }
          p {
            font-size: 1.25rem;
            font-weight: bold;
            font-style: italic;
            line-height: 1.75;
            margin: 0;
          }
        }
      }

      .pictures {
        display: flex;
        //align-items: center;

        .pics {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .pic:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #ff7a33;
            opacity: 0.5;
            transition: 0.5s;
          }

          .pic {
            margin: 0.5rem;
            position: relative;
            width: 25%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      .active .pics .pic:before {
          opacity: 0;
        transform: translateY(100%);
      }

      .arrow {
        padding: 0.75rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 2rem;
          transition: 0.5s;
        }
      }

      .active .arrow img {
        transform: rotateX(180deg);
      }

      .body {
        padding: 3rem;

        .facebook {
          font-size: 1.25rem;
          margin-right: 1rem;
          font-weight: bold;
          color: #ff7a33;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;

          img {
            margin: 1rem;
          }
        }

        .body-text {
          padding: 0 1rem;
          margin: 1rem 0 2rem 1rem;

          @media(max-width: 768px) {
            margin: 1rem;
          }

          border-left: solid 5px #ff7a33;
          font-size: 1rem;
          font-weight: 200;
          font-style: italic;
          line-height: 1.58;
        }

      }

    }
  }

}
