
@import "variables";

#steps {
  background-color: #f2f2f2;
  padding: 7rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: 1199px) {
    padding: 7.5rem 7.5rem 3rem 7.5rem;
  }

  @media(max-width: 768px) {
    padding: 3rem;
  }


  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33;
    margin-bottom: 1rem;
    text-align: center;
    @media(max-width: 768px) {
      font-size: 2rem;
    }
  }

  .cards {
    margin-top: 5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    max-width: 70rem;
    display: flex;
    flex-direction: row;

    @media(max-width: 893px) {
      flex-direction: column;
    }



      .two-cards {
      display: flex;
      flex-direction: row;
      width: 50%;

      @media(max-width: 893px) {
        flex-direction: column;
        width: 100%;
        //.card {
        //  height: 50%;
        //}
      }

      &:first-child {
        .card:first-child {
          border-left: none;
        }
      }
    }

    .card {
      padding: 5rem 3rem;
      text-align: center;

      border-left: solid 1px #f2f2f2;

      .card-top {
        position: absolute;
        top: -3rem;
        background: #ff7a33;
        color: #ffffff;
        left: 0;
        right: 0;
        bottom: 100%;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 800;
        box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.16);
        z-index: -1;
        transform: translateZ(-1rem);
        opacity: 0;
        transition: all 1s;
        text-decoration: none;

        &.shown {
          opacity: 1;
        }
      }

      @media(max-width: 768px) {
        padding: 3rem 1rem;
      }

      .icon {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
      .text {
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.6;
      }

      &.selected {
        background: #ff7a33;
        box-shadow: 10px 12px 16px 0 rgba(0, 0, 0, 0.16);
        color: #ffffff;
        cursor: pointer;
        transform: translateZ(1rem);
        transform-style: preserve-3d;

        &:before {
          content: '';
          position: absolute;
          bottom: -3rem;
          left: -1.5rem;
          right: 50%;
          top: 50%;

          background-image: url("assets/common/dots_rect.svg");
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: cover;
          z-index: -1;
          transition: all 0.5s;
          opacity: 0;
          transform: scale(0) translateZ(-1rem);
        }

        &:hover:before {
          opacity: 1;
          transform: scale(1) translateZ(-1rem);
        }

        &:after {
          content: '';
          position: absolute;
          background-image: url("assets/steps/arrow-right.svg");
          background-position: center center;
          background-repeat: no-repeat;
          width: 2rem;
          height: 1rem;
          bottom: 1rem;
          left: calc(50% - 1rem);
          transition: left 0.2s;
        }

        &:hover:after {
          left: calc(60% - 1rem);
        }

      }
    }
  }

  #steps1 {
    animation-delay: 0.5s;
  }
  #steps2 {
    animation-delay: 1s;
  }
  #steps3 {
    animation-delay: 1.5s;
  }
  #steps4 {
    animation-delay: 2s;
  }
  #steps5 {
    animation-delay: 2.5s;
  }

}
