
@import "variables";


#top {
  position: relative;
  z-index: 10;
  padding-top: 5rem;
  //background: url("assets/common/house.png");
  //background-size: cover;

  .title {
    font-size: 3rem;
    font-weight: 800;

    @media(max-width: 575px) {
      font-size: 2rem;
    }
  }

  .subtext {
    font-size: 1.25rem;
  }

  #top1 {
    animation-delay: 420ms;
  }
  #top2 {
    animation-delay: 820ms;
  }
  #top3 {
    animation-delay: 1220ms;
  }
  #top4 {
    animation-delay: 1620ms;
  }

}
