@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900');

//COLORS
$green: #008800;
$circle-green: #10b716;
$white: #fff;
$black: #212121;
$gray: #cccccc;

//FONTS
$sans: "Open Sans", sans-serif;
$mont: "Montserrat";