
@import "variables";

#why {
  padding: 5rem 3rem;

  .blocks {
    display: flex;
    justify-content: space-around;
    @media(max-width: 768px) {
      flex-wrap: wrap;
    }

    .block {
      padding: 1rem;
      max-width: 15rem;
      flex-basis: 50%;

      .icon {
        text-align: center;
        img {
          width: 6rem;
          height: 6rem;
        }
      }

      .question {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;

        @media(max-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .text {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    @media(max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  #why1 {
    animation-delay: 0.5s;
  }
  #why2 {
    animation-delay: 1s;
  }
  #why3 {
    animation-delay: 1.5s;
  }
  #why4 {
    animation-delay: 2s;
  }
  #why5 {
     animation-delay: 2.5s;
   }

}
